/* this rule will only select the child */

main > div {
    font-style: italic;
    color:rgb(29, 26, 22);
    font-weight: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* this rule will only select the grand-child */
main > div > div {
   background-color: red;
   margin: 20px;
   padding: 5px;
}

/*this rule will only select the div with the class child group2 */
.group1 + div {
    border: solid black 2px;
}

/*
Phrased another way, the child selector will select an
element that is one level of indentation down.
In order to select an element that is adjacent to our target, 
or on the same level of indentation, we can use the adjacent sibling combinator +.
*/

/* this will only select the div with the div with the class child group3 */
.group1 + div + div {
    border: solid green 2px;
    border-radius: 0.5cm;
    margin-top: 10px;
    justify-content: center;
}

/*
I can select all elements sibilings and not the only
first one by using sibiling combinator
*/

.group1 ~ div {
    background-color: grey;
}